@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

/* Щоб не було випадання */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Щоб не було зайвих відступів */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

// Параметри для контейнеру
.container {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  // outline: 1px solid red;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
